body {
  font-family: "Public Sans";
  font-size: 18px;
  margin: 0;
  font-size: 18px;
}

p {
  color: #2d314d;
  font-weight: 300;
  font-size: 0.8em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: #2d314d;
}

button {
  display: flex;
  justify-content: center;
  background-color: #31d35c;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 140px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1;
  z-index: 5;
}
.nav__img {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100px;
  margin: auto;
}
.nav__links {
  display: flex;
  justify-content: center;
}
.nav__links li {
  display: inline;
  color: #9698a6;
  font-size: 0.8em;
  margin: 0.2em;
  padding: 0.2em;
}
.nav__links li:hover {
  border-bottom: 3px solid #31d35c;
  cursor: pointer;
}
.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  background-color: #fafafa;
}
.landing__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.landing__text {
  text-align: left;
  color: #2d314d;
  padding: 5.5em;
}
.landing__text h1 {
  font-weight: 400;
  font-size: 2.5em;
}
.landing__text p {
  font-weight: 300;
  font-size: 0.7em;
}
.landing__img {
  background-image: url("images/bg-intro-desktop.svg");
  right: -100px;
  top: -50px;
  background-position: cover;
  background-repeat: no-repeat;
  z-index: 4;
}

.features {
  padding: 50px 0;
  background-color: #f3f4f6;
  display: flex;
  justify-content: left;
}
.features__text {
  margin: 2.2em 0;
  width: 50%;
}
.features__text h2 {
  font-size: 2.1em;
}
.features__articles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.articles {
  padding: 60px 0;
  background-color: #fafafa;
}
.articles h2 {
  font-size: 2.2em;
  align-self: start;
  margin-top: 0;
}
.articles__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.articles__container .article img {
  width: 100%;
  height: 158px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.articles__container .article .article__text {
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  padding: 20px;
}
.articles__container .article .article__text small {
  font-size: 0.55em;
}
.articles__container .article .article__text p {
  margin: 5px;
  font-size: 0.7em;
}
.articles__container .article .article__text h4 {
  margin: 5px;
  font-size: 0.9em;
}
.articles__container .article .article__text h4:hover {
  color: #31d35c;
  cursor: pointer;
  opacity: 0.9;
}

footer {
  background-color: #2d314d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 50px;
  color: #fafafa;
}
footer .social {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
footer .social__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social__icons svg {
  margin: 10px;
  fill: white;
  cursor: pointer;
}
footer .social__icons path:hover {
  fill: #31d35c;
}

.footer__links ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.footer__links ul li {
  font-size: 0.8em;
  padding: 5px;
}
.footer__links ul li:hover {
  color: #31d35c;
  cursor: pointer;
}