include _globals.pug
footer
  .social
    img(src="images/logo.svg", alt="")
    +socialIcons(href[0])
    +socialIcons(href[1])
    +socialIcons(href[2])
    +socialIcons(href[3])
    +socialIcons(href[4])
  .footer__links
    ul
       each title in titles
        li=title
  .footer__button
    button.button Request Invite
    small  © Easybank. All Rights Reserved