-var icon =["images/icon-budgeting.svg", "images/icon-api.svg", ]
mixin features(icon, title, text)
  article
    img(src=""+icon, alt="")
    h4 
    p

mixin articles(img, p, h4, p)
  article
  img(src="", alt="")
  p
  h4
  p