-var titles = ['Home', 'About', 'Contact', 'Blog', 'Carrees']

header
  nav.nav
    .menu#menu
    .nav__menu#activeMenu
         ul
          each title in titles
            li=title

    .nav__img
      img(src="images/logo.svg", alt="")

    .nav__links
      ul
        each title in titles
          li=title
    .nav__button
      button.button Request Invite
    .nav__hamburger
      img#hamburger(src="images/icon-hamburger.svg", alt="")
